.ContactInfo {
    outline: none;
    border: 1px solid rgb(155, 155, 155);
    background-image: linear-gradient(to left, rgb(197, 201, 201), rgb(123, 174, 174));
    font: inherit;
    padding: 6px 10px;
    display: block;
    margin: 0 auto;
}

.Contact-info select {
    width: 400px;
    text-align-last: center;
}

.InfoBtn {
    display: block;
    padding: 0 !important;
    margin: 0 auto !important;
}

@media (min-width: 600px) {
    .ContactInfo {
        width: 500px;
    }
}