.Head {
    background-image: url('https://svgshare.com/i/KqV.svg');
    background-repeat: no-repeat;
    height: 170px;
    width: 175px;
    margin: 0 auto;
}

.Arms1 {
    height: 130px;
    width: 375px;
    margin: 0 auto;
    background-image: url('https://svgshare.com/i/Kpd.svg');
    background-repeat: no-repeat;
}

.Arms2 {
    background-image: url('https://svgshare.com/i/Kpe.svg');
    height: 128px;
    width: 375px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.Arms3 {
    background-image: url('https://svgshare.com/i/KrA.svg');
    height: 130px;
    width: 392px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.Legs1 {
    background-image: url('https://svgshare.com/i/Kqf.svg');
    height: 150px;
    width: 304px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

@media (max-width: 500px) {

    .Head,
    .Arms1,
    .Arms2,
    .Arms3,
    .Legs1 {
        transform: scale(.5);
        margin: -65px auto;
    }

    .Head {
        height: 165px;
    }

    .Arms2 {
        height: 175px;
    }

    .Legs1 {
        height: 170px;
        width: 309px;
    }
}