.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    margin: 0 5px;
    border: 1px solid rgb(133, 133, 133);
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: rgb(179, 206, 211);
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: auto;
}

.BuildControl .Less {
    background-color: rgb(255, 197, 197);
    color: #000;
    border-radius: 100%;
    transition: .3s ease all;
}

.BuildControl .More {
    background-color: rgb(185, 209, 216);
    color: #000;
    border-radius: 100%;
    transition: .3s ease all;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
    background-color: rgb(186, 41, 41);
    color: white;
}

.BuildControl .More:hover,
.BuildControl .More:active {
    background-color: rgb(31, 111, 215);
    color: white;
}