.BuildControls {
    width: 100%;
    background-color: rgb(174, 196, 199);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 1px grey;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

.OrderButton {
    background-color: rgb(175, 243, 255);
    outline: none;
    cursor: pointer;
    border: 1px solid #3c3c3c;
    color: #000000;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #000000;
    transition: .2s ease all;
}

.OrderButton:hover,
.OrderButton:active {
    background-color: rgb(4, 93, 94);
    border: 1px solid #303030;
    color: #fff;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 500px) {
    .OrderButton {
        padding: 0;
    }
}

/* @media screen and (max-width: 992px) {
    .BuildControls {
        width: 100%;
        background-color: rgb(174, 196, 199);
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 2px 1px grey;
        margin: 0;
        position: fixed;
        bottom: 0;
        left: 0;
    }
} */