body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Righteous', cursive;
  background-image: linear-gradient(to right, rgb(197, 201, 201), rgb(123, 174, 174));
}

h1 {
  margin: 0 auto 20px auto;
}